@import "tailwindcss";

@font-face{
    font-family: "Lexend";
    src: url("./assets/lexend.woff2") format("woff2");
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
}

@theme{
    --color-negro: #101010;

    --color-titleTop: #FF1CF7;
    --color-titleBottom: #B249F8;

    --color-nonEnfasis: #858585;

    --shadow-avatar: 0 0 10px 2px;
    --drop-shadow-icons: 0 0 100px 0px;

    --font-sans: "Lexend", system-ui, sans-serif;

}

.levitar-suave {
  animation: levitar 6s ease-in-out infinite;
}

@keyframes levitar {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1.03);
  }
}





